@font-face {
    font-family: style;
    src: url("/fonts/style.ttf");
}

@font-face {
    font-family: funk;
    src: url("/fonts/funk.ttf");
}

* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #4b4646;
    overflow: hidden;
    user-select: none;
}

.bar {
    width: auto;
    border: 3px solid white;
    height: 100px;
    background-color: transparent;
}

.logo {
    width: 100px;
    margin-left: 50px;
    margin-top: 25px;
    height: 50px;
    width: 200px;
    cursor: pointer;
}

nav {
    float: right;
    text-align: center;
    /* background-color: red; */
    margin-right: 200px; 
    margin-top: -50px;
}

.info {
    text-decoration: underline;
    color: white;
    margin-left: 350px;
    font-size: 40px;
    /* border: 2px solid white; */
    border-radius: 10px; 
    font-family: funk;
    margin-top: 100px;
}

header {
    /* background-color: purple; */
    width: 520px;
}

.overmij {
    /* background-color: blue; */
    font-size: 100px;
    text-align: center;
    margin-top: 100px;
    color: white;
    width: 450px;
    margin-left: 100px;
    /* margin-left: 730px; */

}

.mezelf {
    text-align: left;
    font-size: 150px;
    margin-top: 200px;
    margin-left: 150px;
    width: 470px;
    font-family: style;
    color: white;
}

.foto {
    float: right;
    width: 500px;
    height: 600px;
    margin-right: 200px;
    margin-top: 30px;
    /* margin-bottom: 250px; */
}

.sidebar {
    background-color: pink;
}

.info:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
    opacity: 0.3;
}

/* .mezelf:hover {
    -webkit-animation:rainbow 2s infinite;
    -ms-animation:rainbow 2s infinite;
    -o-animation:rainbow 2s infinite;
    animation:rainbow 2s infinite;
    cursor: default;
    text-decoration: underline;
}
@-webkit-keyframes rainbow {
    0% {color:  blue;}
    10% {color: yellow;}
    20% {color: blue;}
    30% {color: yellow;}
    40% {color: blue;}
    50% {color: yellow;}
    60% {color: blue;}
    70% {color: yellow;}
    80% {color: blue;}
    90% {color: yellow;}
    100% {color: blue;}
}
@-ms-keyframes rainbow {
    0% {color:  blue;}
    10% {color:  yellow;}
    20% {color:  blue;}
    30% {color: yellow;}
    40% {color: blue;}
    50% {color: yellow;}
    60% {color:  blue;}
    70% {color: yellow}
    80% {color:  blue;}
    90% {color: yellow;}
    100% {color: blue;}
}
@-o-keyframes rainbow {
    0% {color: blue;}
    10% {color:  yellow;}
    20% {color:  blue;}
    30% {color: yellow;}
    40% {color: blue;}
    50% {color:yellow;}
    60% {color:  blue;}
    70% {color:  yellow;}
    80% {color: #0000ff;}
    90% {color:yellow;}
    100% {color: blue;}
}
@keyframes rainbow {
    0% {color:  blue;}
    10% {color: yellow;}
    20% {color: blue;}
    30% {color: yellow;}
    40% {color: blue;}
    50% {color: yellow;}
    60% {color:  blue}
    70% {color:  yellow}
    80% {color: #0000ff;}
    90% {color: yellow;}
    100% {color: blue;}
} */
