@font-face {
    font-family: Devils Crew;
    src: url("/fonts/devilscrew.otf");
}

@font-face {
    font-family: Arrows;
    src: url("/fonts/kgflavorandframesthree.ttf");
}

* {
    margin: 0;
}

body {
    background-image: url("/img/building.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-block-size: 100%;
    overflow: hidden;
}

#wrapper {
    width: 100em;
    margin: auto;
}

header {
    text-align: center;
    width: 100vw;
    float: left;
}

article {
    width: 100vw;
    height: 50vh;
    float: left;
}

.emptyBg1 {
    width: 46vw;
    height: 40vh;
    float: left;
}

.buttonContainer {
    width: 7vw;
    height: 40vh;
    float: left;
}

.arrowContainer {
    width: 4vw;
    height: 40vh;
    float: left;
}

.textContainer {
    width: 43vw;
    height: 40vh;
    float: left;
}

footer {
    width: 100vw;
    clear: both;
}

/*-------------------------------*/
.storyText {
    font-size: 20pt;
    text-shadow: 2px 2px black;
    text-align: center;
    font-family: "Devils Crew";
    color: white;
    user-select: none;
    margin: 0vh 0vw;
}

.titleText {
    color: white;
    text-shadow: 5px 5px black;
    font-family: "Devils Crew";
    font-size: 110pt;
    user-select: none;
}

.startArrow {
    color: black;
    font-family: "Arrows";
    font-size: 25pt;
    user-select: none;
    margin: 3vh 1vw;
}

.startText {
    color: white;
    text-shadow: 2px 2px black;
    font-family: "Devils Crew";
    font-size: 20pt;
    user-select: none;
    margin: 1vh 0.5vw;
}

/*-------------------------------*/

.startButton {
    width: 7vw;
    height: 40vh;
    opacity: 0;
    cursor: pointer;
    float: right;
}

/*-------------------------------*/

.startButton:hover {
    opacity: 0.1;
}

/*-------------------------------*/

.invisible {
    visibility: hidden;
}